:root{
    --branco: #FFFFFF;
    --azul: #94ADCF;
    --preto: #000000;
    --cinza: #E9E9E9;
}

h1{
    font-family: 'Nunito', sans-serif;
    color: var(--azul);
    font-size: 24px;
    text-shadow: 0.1em 0.1em var(--cinza);
}

.todo{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 0 12px;
}

.card{
    display: flex;
    align-items: center; 
    border: 3px solid var(--cinza);
    color: var(--azul);
    border-radius: 15px; 
    width: 350px; 
    height: 59px;
    font-family: 'Nunito', sans-serif;
    gap: 10px;
    font-size: 18px;
    padding-left: 10px;
    background-color: var(--cinza);
}  

.scales {
    width: 5%;
}

.p{
    text-decoration: line-through
}
