:root{
    --branco: #FFFFFF;
    --azul: #94ADCF;
    --preto: #000000;
    --cinza: #E9E9E9;
}

.geral{
    display: flex;
    align-items: center;
    padding-top: 50px; 
}

h1{
    font-family: 'Nunito', sans-serif;
    color: var(--azul);
    padding: 30px;
}

.text{
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.info{
    display: flex;
    border: 1px solid var(--cinza);
    border-radius: 15px; 
    justify-content: end;
    align-items: center;    
}

input{
    border: none; 
    cursor: pointer;
    width: 578px;
    height: 59px;
    outline: none;
}

img{
    height: 30px;
    background-color: var(--branco);
}

.menu{
    padding-left: 250px;
}

button{
    border: none;
} 
