:root{
    --branco: #FFFFFF;
    --azul: #94ADCF;
    --preto: #000000;
    --cinza: #E9E9E9;
}

h1{
    font-family: 'Nunito', sans-serif;
    color: var(--azul);
}

.info{
    border: 1px solid var(--cinza);
    border-radius: 15px; 
    width: 449px;  
    margin-left: 30px;
} 

