:root{
    --branco: #FFFFFF;
    --azul: #94ADCF;
    --preto: #000000;
    --cinza: #E9E9E9;
}

.geral{
    display: flex;
    align-items: center;
    padding-top: 50px;
    background-color: var(--branco);
    width: 100%;
}

h1{
    font-family: 'Nunito', sans-serif;
    color: var(--azul);
    padding: 30px;
    background-color: var(--branco);
}

.text{
    display: flex;
    align-items: center;
    background-color: var(--branco);
    padding-left: 18px;
}

.info{
    display: flex;
    border: 2px solid var(--cinza);
    border-radius: 16px; 
    justify-content: end;
    align-items: center; 
    background-color: var(--branco);
}

input{
    border: none; 
    cursor: pointer;
    width: 578px;
    height: 59px;
    outline: none;
    background-color: var(--branco);
}

img{
    height: 30px;
    background-color: var(--branco);
}

.menu{
    padding-left: 250px;
    background-color: var(--branco);
}

button{
    border: none;
    background-color: var(--branco);
} 
