:root{
    --branco: #FFFFFF;
    --azul: #94ADCF;
    --preto: #000000;
    --cinza: #E9E9E9;
}

h1{
    font-family: 'Nunito', sans-serif;
    color: var(--azul);
    font-size: 12px;
}

.todo{
    display: flex;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid var(--cinza);
    color: var(--azul);
    border-radius: 15px; 
    width: 50%;  
    height: 59px;
    font-family: 'Nunito', sans-serif;

} 

