:root{
    --branco: #FFFFFF;
    --azul: #94ADCF;
    --preto: #000000;
    --cinza: #E9E9E9;
}

h1{
    font-family: 'Nunito', sans-serif;
    color: var(--azul);
    font-size: 12px;
}

.todo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    display: flex;
    align-items: center;
    border: 3px solid var(--cinza);
    color: var(--azul);
    border-radius: 15px; 
    width: 400px; 
    height: 59px;
    font-family: 'Nunito', sans-serif;
    gap: 10px;
    padding-left: 10px;
    font-size: 18px;
} 

#scales {
    width: 2%;
}

