:root{
    --branco: #FFFFFF;
    --azul: #94ADCF;
    --preto: #000000;
    --cinza: #E9E9E9;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 1280px;
    height: 720px;
    border: 1px solid var(--preto);
    border-radius: 25px; 
    margin: auto;
    margin-top: 30px;
}